* {
    font-size: 14px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.202);
    color: #ffffff;
    border-radius: 0;
}

#workspaces button {
    padding: 0 8;
    color: #888888;
}
#workspaces button.focused {
    color: #89b4fa;
    background: #313244;
}

#pulseaudio,
#network,
#cpu,
#temperature,
#memory,
#battery,
#clock,
#custom-power,
#tray {
    padding: 0 8;
}

#window {
    margin-left: 8px;
    color: #cdd6f4;
}


#custom-power {
    color: #f38ba8; /* Warna merah pastel */
}
#custom-power:hover {
    background-color: #f38ba8;
    color: #11111b;
}