* {
    font-family: "monospace";
    font-size: 16px;
    font-weight: bold;
}

/* Main bar */
window#waybar {
    background: transparent;
    color: #f8f8f2;
}

.modules-left,.modules-center,.modules-right{
    background: rgba(255, 255, 255, 0.1);
    color: #f8f8f2;
    padding: 0px 8px;
    border-radius: 6px;
}

/* Workspaces */
#workspaces button {
    color: #ffffff;
    margin-right: 4px;
    padding: 0px 4px;
    border-radius: 6px;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border-color:rgba(255, 255, 255, 0.3);
}
#workspaces button.focused {
    background: rgba(255, 255, 255, 0.3);
    border-color: transparent;
}

/* Window title */
#window {
    color: #f8f8f2;
    padding: 0px 12px;
    border-radius: 6px;
}
window#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}


/* Semua modul kanan */
#pulseaudio,
#network,
#cpu,
#temperature,
#memory,
#battery,
#custom-power,
#backlight,
#tray {
    padding: 0px 4px;
}


/* Power button */
#custom-power {
    color: rgb(255, 75, 75);
}


#custom-power:hover {
    color: rgba(255, 75, 75, 0.7)
}