* {
    font-family: "monospace";
    font-size: 14px;
    font-weight: bold;
}

/* Main bar */
window#waybar {
    background: transparent;
    color: #f8f8f2;
}


/* Workspaces */
#workspaces button {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    margin-right: 4px;
    padding: 0px 4px;
}

#workspaces button.focused {
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
}


#workspaces button.urgent {
    background: #ff5555;
    color: #f8f8f2;
}


/* Window title */
#window {
    background: rgba(255, 255, 255, 0.1);
    color: #f8f8f2;
    margin-left: 1rem;
    padding: 0px 10px;
    border-radius: 6px;
}
window#waybar.empty #window {
    background-color: transparent;
    padding: 0;
    margin: 0;
}


/* Semua modul kanan */
#pulseaudio,
#network,
#cpu,
#temperature,
#memory,
#battery,
#clock,
#custom-power,
#backlight,
#tray {
    background: rgba(255, 255, 255, 0.1);
    color: #f8f8f2;
    margin-right: 6px;
    padding: 0px 8px;
    border-radius: 6px;
}


/* Dracula module colors */

#clock {
    color: #8be9fd;
}


#cpu {
    color: #50fa7b;
}


#memory {
    color: #bd93f9;
}


#temperature {
    color: #ffb86c;
}


#backlight {
    color: #ffb86c;
}


#battery {
    color: #f1fa8c;
}


#battery.charging {
    color: #50fa7b;
}


#battery.warning {
    color: #ffb86c;
}


#battery.critical {
    color: #ff5555;
}


#network {
    color: #8be9fd;
}


#pulseaudio {
    color: #ff79c6;
}


#pulseaudio.muted {
    color: #6272a4;
}


/* Power button */
#custom-power {
    color: #ff79c6;
}


#custom-power:hover {
    background: #ff79c6;
    color: #282a36;
}


/* Tray */
#tray {
    color: #f8f8f2;
}


/* Hover effect */
#pulseaudio:hover,
#network:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#battery:hover,
#backlight:hover,
#clock:hover,
#tray:hover {

    background: rgba(255, 255, 255, 0.3);
    color: #f8f8f2;
}